/* Section 1er jour */
.day-1 {
    transform-origin: 50% 0%;
    animation: down 0.5s 0.2s cubic-bezier(0, 1, .8, 1) both;

    &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 0.8fr 1.2fr;
        grid-template-rows: 50px 180px 100px 80px 30px 230px;
        gap: 1rem;
        min-height: 100vh;
        padding: 2rem 2rem 2rem 12rem;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            border: 3px solid $c-sky-blue;
        }
    }
}

.day-1-title {
    grid-column: 1 / 5;
    grid-row: 1;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    color: $c-amber;
    animation: translateY 0.5s 0.5s cubic-bezier(0.5, 0, 0.5, 1) both;
}

.day-1-img {
    &-1 {
        grid-column: 1;
        grid-row: 2;
        
    }

    &-2 {
        grid-column: 2;
        grid-row: 2;
    }

    &-3 {
        grid-column: 1;
        grid-row: 3 / 6;
    }

    &-4 {
        grid-column: 2;
        grid-row: 3 / 6;
    }

    &-5 {
        grid-column: 3;
        grid-row: 3 / 5;
    }

    &-6 {
        grid-column: 4;
        grid-row: 3;
    }

    &-7 {
        grid-column: 1 / 3;
        grid-row: 6;
    }

    &-8 {
        grid-column: 4;
        grid-row: 4 / 6;
    }
}

.day-1-map {
    border-radius: 10px;
    grid-column: 3;
    grid-row: 2;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: scale 0.5s 0.5s cubic-bezier(0.5, 0, 0.5, 1) both, appear 0.5s 0.5s linear both;
}

.day-1-text {
    grid-column: 4;
    grid-row: 2;
    animation: scale 0.5s 1s cubic-bezier(0.5, 0, 0.5, 1) both, appear 0.5s 0.5s linear both;
    overflow-y: scroll;
    padding-right: 5px;
}

.day-1-text::-webkit-scrollbar {
  width: 5px; /* Largeur de la barre verticale */
}

.day-1-text::-webkit-scrollbar-thumb {
  background-color: $c-rock-gray; /* Couleur du "pouce" (la partie que l'on manipule) */
  border-radius: 5px;
}

.day-1-text::-webkit-scrollbar-track {
  background-color: $c-sky-blue; /* Couleur de la piste */
  border-radius: 5px;
}

.day-1-video {
    &-1 {
        grid-column: 3;
        grid-row: 5 / 7;
        background-color: black;
        display: flex;
        justify-content: center;
    }

    &-2 {
        grid-column: 4;
        grid-row: 6;
        background-color: black;
        display: flex;
    }
}

/* Section 2ème jour */

.day-2 {
    &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 180px 150px 150px 150px;
        gap: 1rem;
        min-height: 100vh;
        padding: 2rem 2rem 2rem 12rem;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            border: 3px solid $c-sky-blue;
        }
    }
}

.day-2-title {
    grid-column: 1 / 5;
    grid-row: 1;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    color: $c-amber;
}

.day-2-img {
    &-1 {
        grid-column: 1 / 5;
        grid-row: 2;
    }

    &-2 {
        grid-column: 1;
        grid-row: 3;
    }

    &-3 {
        grid-column: 5;
        grid-row: 3 / 5;
    }

    &-4 {
        grid-column: 2;
        grid-row: 4 / 5;
    }

    &-5 {
        grid-column: 3 / 5;
        grid-row: 4;
    }

    &-6 {
        grid-column: 2 / 4;
        grid-row: 5;
    }

    &-7 {
        grid-column: 4 / 6;
        grid-row: 5;
    }
}

.day-2-map {
    grid-column: 5;
    grid-row: 2;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.day-2-text {
    grid-column: 2 / 5;
    grid-row: 3;
    display: flex;
    align-items: center;
}

.day-2-video {
    &-1 {
        grid-column: 1;
        grid-row: 4 / 6;
        background-color: black;
        display: flex;
        justify-content: center;
    }
}

/* Section 3ème jour */

.day-3 {
    &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 180px 290px 180px;
        gap: 1rem;
        min-height: 100vh;
        padding: 2rem 2rem 2rem 12rem;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            border: 3px solid $c-sky-blue;
        }
    }
}

.day-3-title {
    grid-column: 1 / 5;
    grid-row: 1;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    color: $c-amber;
}

.day-3-img {
    &-1 {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    &-2 {
        grid-column: 3 / 5;
        grid-row: 2;
    }

    &-3 {
        grid-column: 1;
        grid-row: 3;
    }

    &-4 {
        grid-column: 2;
        grid-row: 3;
    }

    &-5 {
        grid-column: 3;
        grid-row: 3;
    }

    &-6 {
        grid-column: 1 / 3;
        grid-row: 4;
    }

    &-7 {
        grid-column: 3 / 4;
        grid-row: 4;
    }
}

.day-3-map {
    grid-column: 4;
    grid-row: 4;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.day-3-text {
    grid-column: 4;
    grid-row: 3;
    display: flex;
    align-items: center;
}

/* Section 4ème jour */

.day-4 {
    &-grid {
        display: grid;
        grid-template-columns: 1fr 0.5fr 0.5fr 1fr 2fr;
        grid-template-rows: 50px 210px 210px 230px;
        gap: 1rem;
        min-height: 100vh;
        padding: 2rem 2rem 2rem 12rem;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            border: 3px solid $c-sky-blue;
        }
    }
}

.day-4-title {
    grid-column: 1 / 6;
    grid-row: 1;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    color: $c-amber;
}

.day-4-img {
    &-1 {
        grid-column: 1;
        grid-row: 2 / 4;
    }

    &-2 {
        grid-column: 2 / 4;
        grid-row: 2 / 4;
    }

    &-3 {
        grid-column: 4 /5;
        grid-row: 2 / 4;
    }

    &-4 {
        grid-column: 5;
        grid-row: 2;
    }

    &-5 {
        grid-column: 5;
        grid-row: 3;
    }

    &-6 {
        grid-column: 1 / 3;
        grid-row: 4;
    }
}

.day-4-map {
    grid-column: 3 / 5;
    grid-row: 4;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.day-4-text {
    grid-column: 5;
    grid-row: 4;
    display: flex;
    align-items: center;
}

/* Modal */

::backdrop {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    width: 80%;
    height: 80%;
    background-color: black;
    margin: auto;
}

#modal-img {
    height: 100%;
    margin: auto;
}

#modal-video {
    width: 100%;
    height: 100%;
}

.close {
    position: absolute;
    z-index: 1;
    top: 0px;
    right: -60px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color: $c-snow-cream;
}