@media screen and (max-width: 1025px) {
    .pages-trip {
        display: flex;
        height: 100vh;
        overflow-y: hidden;
    }
}

/* Section 1er jour */
.day-1 {
    transform-origin: 50% 0%;
    animation: down 0.5s 0.2s cubic-bezier(0, 1, .8, 1) both;

    &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 0.8fr 1.2fr;
        grid-template-rows: 6% 20% 15% 15% 5% 30%;
        gap: 1rem;
        height: 100vh;
        padding: 2rem 2rem 2rem 12rem;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
            grid-template-rows: 6% 13% 15% 15% 15% 15% 15%;
            padding: 6.5rem 2rem 2rem 2rem;
            width: 100vw;
            gap: 0.5rem;
        }

        @media screen and (max-width: 1025px) and (min-width: 768px) {
            padding: 10rem 2rem 2rem 2rem;
            width: 100vw;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            border: 3px solid $c-sky-blue;
        }
    }
}

.day-1-title {
    grid-column: 1 / 5;
    grid-row: 1;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    color: $c-amber;
    animation: translateY 0.5s 0.5s cubic-bezier(0.5, 0, 0.5, 1) both;

    @media screen and (max-width: 768px) {
        padding-bottom: 10px;
    }
}

.day-1-img {
    &-1 {
        grid-column: 1;
        grid-row: 2;

        @media screen and (max-width: 768px) {
            grid-column: 1 / 3;
        }
    }

    &-2 {
        grid-column: 2;
        grid-row: 2;

        @media screen and (max-width: 768px) {
            grid-column: 3 / 5;
        }
    }

    &-3 {
        grid-column: 1;
        grid-row: 3 / 6;

        @media screen and (max-width: 768px) {
            grid-column: 1 / 2;
            grid-row: 4;
        }
    }

    &-4 {
        grid-column: 2;
        grid-row: 3 / 6;

        @media screen and (max-width: 768px) {
            grid-column: 2 / 4;
            grid-row: 4;
        }
    }

    &-5 {
        grid-column: 3;
        grid-row: 3 / 5;

        @media screen and (max-width: 768px) {
            grid-column: 4 / 5;
            grid-row: 4;
        }
    }

    &-6 {
        grid-column: 4;
        grid-row: 3;

        @media screen and (max-width: 768px) {
            grid-column: 1 / 4;
            grid-row: 5;
        }
    }

    &-7 {
        grid-column: 1 / 3;
        grid-row: 6;

        @media screen and (max-width: 768px) {
            grid-column: 1 / 4;
            grid-row: 7;
        }
    }

    &-8 {
        grid-column: 4;
        grid-row: 4 / 6;

        @media screen and (max-width: 768px) {
            grid-column: 1 / 4;
            grid-row: 6;
        }
    }
}

.day-1-map {
    border-radius: 10px;
    grid-column: 3;
    grid-row: 2;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: scale 0.5s 0.5s cubic-bezier(0.5, 0, 0.5, 1) both, appear 0.5s 0.5s linear both;

    @media screen and (max-width: 768px) {
        grid-column: 1 / 3;
        grid-row: 3;
    }
}

.day-1-text {
    grid-column: 4;
    grid-row: 2;
    animation: scale 0.5s 1s cubic-bezier(0.5, 0, 0.5, 1) both, appear 0.5s 0.5s linear both;
    overflow-y: scroll;
    padding-right: 5px;

    @media screen and (max-width: 768px) {
        grid-column: 3 / 5;
        grid-row: 3;
    }
}

.day-1-text::-webkit-scrollbar {
  width: 5px; /* Largeur de la barre verticale */
}

.day-1-text::-webkit-scrollbar-thumb {
  background-color: $c-rock-gray; /* Couleur du "pouce" (la partie que l'on manipule) */
  border-radius: 5px;
}

.day-1-text::-webkit-scrollbar-track {
  background-color: $c-sky-blue; /* Couleur de la piste */
  border-radius: 5px;
}

.day-1-video {
    &-1 {
        grid-column: 3;
        grid-row: 5 / 7;
        background-color: black;
        display: flex;
        justify-content: center;

        @media screen and (max-width: 768px) {
            grid-column: 4 / 5;
            grid-row: 5 / 7;
        }
    }

    &-2 {
        grid-column: 4;
        grid-row: 6;
        background-color: black;
        display: flex;

        @media screen and (max-width: 768px) {
            grid-column: 4 / 5;
            grid-row: 7;
        }
    }
}

/* Section 2ème jour */

.day-2 {
    &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 6% 25% 20% 20% 21%;
        gap: 1rem;
        height: 100vh;
        padding: 2rem 2rem 2rem 12rem;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
            grid-template-rows: 6% 18% 20% 15% 18% 18%;
            padding: 6.5rem 2rem 2rem 2rem;
            width: 100vw;
            gap: 0.5rem;
        }

        @media screen and (max-width: 1025px) and (min-width: 768px) {
            padding: 10rem 2rem 2rem 2rem;
            width: 100vw;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            border: 3px solid $c-sky-blue;
        }
    }
}

.day-2-title {
    grid-column: 1 / 5;
    grid-row: 1;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    color: $c-amber;
}

.day-2-img {
    &-1 {
        grid-column: 1 / 5;
        grid-row: 2;

        @media screen and (max-width: 768px) {
        grid-column: 1 / 4;
    }
    }

    &-2 {
        grid-column: 1;
        grid-row: 3;

        @media screen and (max-width: 768px) {
            grid-column: 1;
            grid-row: 3;
        }
    }

    &-3 {
        grid-column: 5;
        grid-row: 3 / 5;

        @media screen and (max-width: 768px) {
            grid-column: 1;
            grid-row: 3;
        }
    }

    &-4 {
        grid-column: 2;
        grid-row: 4 / 5;

        @media screen and (max-width: 768px) {
            grid-column: 1 / 3;
            grid-row: 4;
        }
    }

    &-5 {
        grid-column: 3 / 5;
        grid-row: 4;
    }

    &-6 {
        grid-column: 2 / 4;
        grid-row: 5;

        @media screen and (max-width: 768px) {
            grid-column: 2 / 5;
            grid-row: 5;
        }
    }

    &-7 {
        grid-column: 4 / 6;
        grid-row: 5;

        @media screen and (max-width: 768px) {
            grid-column: 2 / 5;
            grid-row: 6;
        }
    }
}

.day-2-map {
    grid-column: 5;
    grid-row: 2;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    @media screen and (max-width: 768px) {
        grid-column: 4 / 5;
        grid-row: 2;
    }
}

.day-2-text {
    grid-column: 2 / 5;
    grid-row: 3;
    overflow-y: scroll;
    padding-right: 5px;

    @media screen and (max-width: 768px) {
        grid-column: 2 / 5;
        grid-row: 3;
    }
}

.day-2-text::-webkit-scrollbar {
  width: 5px; /* Largeur de la barre verticale */
}

.day-2-text::-webkit-scrollbar-thumb {
  background-color: $c-rock-gray; /* Couleur du "pouce" (la partie que l'on manipule) */
  border-radius: 5px;
}

.day-2-text::-webkit-scrollbar-track {
  background-color: $c-sky-blue; /* Couleur de la piste */
  border-radius: 5px;
}

.day-2-video {
    &-1 {
        grid-column: 1;
        grid-row: 4 / 6;
        background-color: black;
        display: flex;
        justify-content: center;

        @media screen and (max-width: 768px) {
            grid-column: 1;
            grid-row: 5 / 7;
        }
    }
}

/* Section 3ème jour */

.day-3 {
    &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 6% 28% 34% 25%;
        gap: 1rem;
        height: 100vh;
        padding: 2rem 2rem 2rem 12rem;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
            grid-template-rows: 6% 18% 20% 15% 18% 18%;
            padding: 6.5rem 2rem 2rem 2rem;
            width: 100vw;
            gap: 0.5rem;
        }

        @media screen and (max-width: 1025px) and (min-width: 768px) {
            padding: 10rem 2rem 2rem 2rem;
            width: 100vw;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            border: 3px solid $c-sky-blue;
        }
    }
}

.day-3-title {
    grid-column: 1 / 5;
    grid-row: 1;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    color: $c-amber;
}

.day-3-img {
    &-1 {
        grid-column: 1 / 3;
        grid-row: 2;

        @media screen and (max-width: 768px) {
            grid-column: 1;
        }
    }

    &-2 {
        grid-column: 3 / 5;
        grid-row: 2;

        @media screen and (max-width: 768px) {
            grid-column: 1 / 5;
            grid-row: 3;
        }
    }

    &-3 {
        grid-column: 1;
        grid-row: 3;

        @media screen and (max-width: 768px) {
            grid-column: 2 / 4;
            grid-row: 2;
        }
    }

    &-4 {
        grid-column: 2;
        grid-row: 3;

        @media screen and (max-width: 768px) {
            grid-column: 4 / 5;
            grid-row: 2;
        }
    }

    &-5 {
        grid-column: 3;
        grid-row: 3;

        @media screen and (max-width: 768px) {
            grid-column: 1 / 3;
            grid-row: 6;
        }
    }

    &-6 {
        grid-column: 1 / 3;
        grid-row: 4;

        @media screen and (max-width: 768px) {
            grid-column: 1 / 5;
            grid-row: 5;
        }
    }

    &-7 {
        grid-column: 3 / 4;
        grid-row: 4;

        @media screen and (max-width: 768px) {
            grid-column: 3 / 5;
            grid-row: 6;
        }
    }
}

.day-3-map {
    grid-column: 4;
    grid-row: 4;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.day-3-text {
    grid-column: 4;
    grid-row: 3;
    overflow-y: scroll;
    padding-right: 5px;

    @media screen and (max-width: 768px) {
        grid-column: 1 / 4;
        grid-row: 4;
    }
}

.day-3-text::-webkit-scrollbar {
  width: 5px; /* Largeur de la barre verticale */
}

.day-3-text::-webkit-scrollbar-thumb {
  background-color: $c-rock-gray; /* Couleur du "pouce" (la partie que l'on manipule) */
  border-radius: 5px;
}

.day-3-text::-webkit-scrollbar-track {
  background-color: $c-sky-blue; /* Couleur de la piste */
  border-radius: 5px;
}

/* Section 4ème jour */

.day-4 {
    &-grid {
        display: grid;
        grid-template-columns: 1fr 0.5fr 0.5fr 1fr 2fr;
        grid-template-rows: 6% 28% 28% 31%;
        gap: 1rem;
        height: 100vh;
        padding: 2rem 2rem 2rem 12rem;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
            grid-template-rows: 6% 18% 20% 15% 18% 18%;
            padding: 6.5rem 2rem 2rem 2rem;
            width: 100vw;
            gap: 0.5rem;
        }

        @media screen and (max-width: 1025px) and (min-width: 768px) {
            padding: 10rem 2rem 2rem 2rem;
            width: 100vw;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            border: 3px solid $c-sky-blue;
        }
    }
}

.day-4-title {
    grid-column: 1 / 6;
    grid-row: 1;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    color: $c-amber;
}

.day-4-img {
    &-1 {
        grid-column: 1;
        grid-row: 2 / 4;

        @media screen and (max-width: 768px) {
            grid-column: 1 / 2;
            grid-row: 2 / 4;
        }
    }

    &-2 {
        grid-column: 2 / 4;
        grid-row: 2 / 4;

        @media screen and (max-width: 768px) {
            grid-column: 2 / 4;
            grid-row: 2 / 4;
        }
    }

    &-3 {
        grid-column: 4 /5;
        grid-row: 2 / 4;

        @media screen and (max-width: 768px) {
            grid-column: 4;
            grid-row: 2 / 4;
        }
    }

    &-4 {
        grid-column: 5;
        grid-row: 2;

        @media screen and (max-width: 768px) {
            grid-column: 1 / 3;
            grid-row: 4;
        }
    }

    &-5 {
        grid-column: 5;
        grid-row: 3;

        @media screen and (max-width: 768px) {
            grid-column: 1 / 5;
            grid-row: 6;
        }
    }

    &-6 {
        grid-column: 1 / 3;
        grid-row: 4;

        @media screen and (max-width: 768px) {
            grid-column: 3 / 5;
        }
    }
}

.day-4-map {
    grid-column: 3 / 5;
    grid-row: 4;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    @media screen and (max-width: 768px) {
        grid-column: 4 / 5;
        grid-row: 5;
    }
}

.day-4-text {
    grid-column: 5;
    grid-row: 4;
    overflow-y: scroll;
    padding-right: 5px;

    @media screen and (max-width: 768px) {
        grid-column: 1 / 4;
        grid-row: 5;
    }
}

.day-4-text::-webkit-scrollbar {
  width: 5px; /* Largeur de la barre verticale */
}

.day-4-text::-webkit-scrollbar-thumb {
  background-color: $c-rock-gray; /* Couleur du "pouce" (la partie que l'on manipule) */
  border-radius: 5px;
}

.day-4-text::-webkit-scrollbar-track {
  background-color: $c-sky-blue; /* Couleur de la piste */
  border-radius: 5px;
}

/* Modal */

::backdrop {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    width: 80%;
    height: 80%;
    background-color: black;
    margin: auto;
    position: relative;
}

#modal-img {
    height: auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal-video {
    width: 100%;
    height: 100%;
}

#modal-caption {
    color: $c-snow-cream;
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Inter';
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.close {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: $c-snow-cream;
}