.islande-trip {
    display: flex;
    width: 100vw;
    background-image: url(../../img/carnet.png);
    background-size: contain;
}

.menu {
    margin-left: 35px;
    margin-top: 20px;
    position: fixed;
    z-index: 1;
    animation: translateY 0.9s 0.9s cubic-bezier(0.5, 0, 0.5, 1) both;
}

.line-verticale {
    width: 5px;
    height: 95vh;
    background-color: $c-blue;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.nav-bar {
    position: absolute;
    left: -7px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-item {
        display: flex;
        gap: 10px;
    }
}

.cercle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: $c-blue;
    position: relative;
    z-index: 10;

    &-border {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        border: 2px solid $c-blue;
        position: absolute;
        top: -5px;
        left: -5px;
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }
}

.active {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid $c-blue;
    position: absolute;
    top: -5px;
    left: -5px;
    opacity: 1;
}

span {
    color: $c-blue;
}