.islande-trip {
    display: flex;
    width: 100vw;
    background-color: $c-snow-cream;

    @media screen and (max-width: 1025px) {
        flex-direction: column;
    }
}

.menu {
    margin-left: 35px;
    margin-top: 20px;
    position: fixed;
    z-index: 1;
    animation: translateY 0.9s 0.9s cubic-bezier(0.5, 0, 0.5, 1) both;

    @media screen and (max-width: 768px) {
        margin-left: 10px;
        margin-top: 30px;
    }

    @media screen and (max-width: 1025px) and (min-width: 768px) {
        margin-left: 25px;
        margin-top: 50px;
    }
}

.line-verticale {
    width: 5px;
    height: 95vh;
    background-color: $c-midnight-blue;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    @media screen and (max-width: 1025px) {
        width: 95vw;
        height: 5px;
    }
}

.nav-bar {
    position: absolute;
    left: -7.2px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media screen and (max-width: 1025px) {
        flex-direction: row;
        width: 100%;
        height: 100px;
        left: 0;
        top: -7px;
    }

    &-item {
        display: flex;
        gap: 15px;

        @media screen and (max-width: 1025px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.cercle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: $c-midnight-blue;
    position: relative;
    z-index: 10;

    &-border {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        border: 2px solid $c-midnight-blue;
        position: absolute;
        top: -5px;
        left: -5px;
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }
}

.active {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid $c-midnight-blue;
    position: absolute;
    top: -5px;
    left: -5px;
    opacity: 1;
}

span {
    color: $c-midnight-blue;
    width: 100px;

    @media screen and (max-width: 768px) {
        width: 70px;
        text-align: center;
    }

    @media screen and (max-width: 1025px) and (min-width: 768px) {
        text-align: center;
    }
}