.lien-conteneur-photo {
    position: relative;
}

.photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
    color: $c-snow-cream;
    font-weight: 500;
    background-color: rgba(48, 61, 80, 0.8);
    border-radius: 10px;
    display: none;
}

.lien-conteneur-photo:hover .photo-hover {
    display: flex;
}

.img {
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: scale 0.5s 0.5s cubic-bezier(0.5, 0, 0.5, 1) both, appear 0.5s 0.5s linear both;
}

.video {
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid $c-sky-blue;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: scale 0.5s 0.5s cubic-bezier(0.5, 0, 0.5, 1) both, appear 0.5s 0.5s linear both;
}