@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Design system */
/* Colors */
/* Text */
body {
  font: 1.2rem Handlee;
}

a div, span {
  font: 1rem Handlee;
}

h1,
a {
  font: 500 3rem "Permanent Marker";
}

.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
}

.norvege {
  background-image: url(../../img/norvege.jpg);
  background-size: cover;
  border-right: 10px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.norvege h1 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: white;
}

.suede {
  background-image: url(../../img/suede.JPG);
  background-size: cover;
  background-position: center;
  border-right: 10px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.suede h1 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: white;
}

.islande {
  background-image: url(../../img/islande.jpg);
  background-size: cover;
  background-position: center;
  border-right: 10px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.islande a {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: white;
  text-decoration: none;
}
.islande a:hover {
  transform: rotate(180deg) scale(1.5);
}

@keyframes down {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes translateY {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}
.islande-trip {
  display: flex;
  width: 100vw;
  background-image: url(../../img/carnet.png);
  background-size: contain;
}

.menu {
  margin-left: 35px;
  margin-top: 20px;
  position: fixed;
  z-index: 1;
  animation: translateY 0.9s 0.9s cubic-bezier(0.5, 0, 0.5, 1) both;
}

.line-verticale {
  width: 5px;
  height: 95vh;
  background-color: #353aa9;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.nav-bar {
  position: absolute;
  left: -7px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nav-bar-item {
  display: flex;
  gap: 10px;
}

.cercle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #353aa9;
  position: relative;
  z-index: 10;
}
.cercle-border {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid #353aa9;
  position: absolute;
  top: -5px;
  left: -5px;
  opacity: 0;
}
.cercle-border:hover {
  opacity: 1;
}

.active {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid #353aa9;
  position: absolute;
  top: -5px;
  left: -5px;
  opacity: 1;
}

span {
  color: #353aa9;
}

.lien-conteneur-photo {
  position: relative;
}

.photo-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
  color: black;
  font-weight: 900;
  background-color: rgba(252, 252, 252, 0.8);
  display: none;
}

.lien-conteneur-photo:hover .photo-hover {
  display: flex;
}

.img {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation: scale 0.5s 0.5s cubic-bezier(0.5, 0, 0.5, 1) both, appear 0.5s 0.5s linear both;
}

.video {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation: scale 0.5s 0.5s cubic-bezier(0.5, 0, 0.5, 1) both, appear 0.5s 0.5s linear both;
}

/* Section 1er jour */
.day-1 {
  transform-origin: 50% 0%;
  animation: down 0.5s 0.2s cubic-bezier(0, 1, 0.8, 1) both;
}
.day-1-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 180px 100px 80px 30px 230px;
  gap: 1rem;
  min-height: 100vh;
  padding: 2rem 2rem 2rem 11rem;
}
.day-1-grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.day-1-title {
  grid-column: 1/5;
  grid-row: 1;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  color: #9e222c;
  animation: translateY 0.5s 0.5s cubic-bezier(0.5, 0, 0.5, 1) both;
}

.day-1-img-1 {
  grid-column: 1;
  grid-row: 2;
}
.day-1-img-2 {
  grid-column: 2;
  grid-row: 2;
}
.day-1-img-3 {
  grid-column: 1;
  grid-row: 3/6;
}
.day-1-img-4 {
  grid-column: 2;
  grid-row: 3/6;
}
.day-1-img-5 {
  grid-column: 3;
  grid-row: 3/5;
}
.day-1-img-6 {
  grid-column: 4;
  grid-row: 3;
}
.day-1-img-7 {
  grid-column: 1/3;
  grid-row: 6;
}
.day-1-img-8 {
  grid-column: 4;
  grid-row: 4/6;
}

.day-1-map {
  grid-column: 3;
  grid-row: 2;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation: scale 0.5s 0.5s cubic-bezier(0.5, 0, 0.5, 1) both, appear 0.5s 0.5s linear both;
}

.day-1-text {
  grid-column: 4;
  grid-row: 2;
  color: #9e222c;
  display: flex;
  align-items: center;
  animation: scale 0.5s 1s cubic-bezier(0.5, 0, 0.5, 1) both, appear 0.5s 0.5s linear both;
}

.day-1-video-1 {
  grid-column: 3;
  grid-row: 5/7;
  background-color: black;
  display: flex;
  justify-content: center;
}
.day-1-video-2 {
  grid-column: 4;
  grid-row: 6;
  background-color: black;
  display: flex;
}

/* Section 2ème jour */
.day-2-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 180px 150px 150px 150px;
  gap: 1rem;
  min-height: 100vh;
  padding: 2rem 2rem 2rem 11rem;
}
.day-2-grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.day-2-title {
  grid-column: 1/5;
  grid-row: 1;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  color: #9e222c;
}

.day-2-img-1 {
  grid-column: 1/5;
  grid-row: 2;
}
.day-2-img-2 {
  grid-column: 1;
  grid-row: 3;
}
.day-2-img-3 {
  grid-column: 5;
  grid-row: 3/5;
}
.day-2-img-4 {
  grid-column: 2;
  grid-row: 4/5;
}
.day-2-img-5 {
  grid-column: 3/5;
  grid-row: 4;
}
.day-2-img-6 {
  grid-column: 2/4;
  grid-row: 5;
}
.day-2-img-7 {
  grid-column: 4/6;
  grid-row: 5;
}

.day-2-map {
  grid-column: 5;
  grid-row: 2;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.day-2-text {
  grid-column: 2/5;
  grid-row: 3;
  color: #9e222c;
  display: flex;
  align-items: center;
}

.day-2-video-1 {
  grid-column: 1;
  grid-row: 4/6;
  background-color: black;
  display: flex;
  justify-content: center;
}

/* Section 3ème jour */
.day-3-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 180px 290px 180px;
  gap: 1rem;
  min-height: 100vh;
  padding: 2rem 2rem 2rem 11rem;
}
.day-3-grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.day-3-title {
  grid-column: 1/5;
  grid-row: 1;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
  color: #9e222c;
}

.day-3-img-1 {
  grid-column: 1/3;
  grid-row: 2;
}
.day-3-img-2 {
  grid-column: 3/5;
  grid-row: 2;
}
.day-3-img-3 {
  grid-column: 1;
  grid-row: 3;
}
.day-3-img-4 {
  grid-column: 2;
  grid-row: 3;
}
.day-3-img-5 {
  grid-column: 3;
  grid-row: 3;
}
.day-3-img-6 {
  grid-column: 1/3;
  grid-row: 4;
}
.day-3-img-7 {
  grid-column: 3/4;
  grid-row: 4;
}

.day-3-map {
  grid-column: 4;
  grid-row: 4;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.day-3-text {
  grid-column: 4;
  grid-row: 3;
  color: #9e222c;
  display: flex;
  align-items: center;
}

/* Section 4ème jour */
.day-4-grid {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr 2fr;
  grid-template-rows: 50px 210px 210px 230px;
  gap: 1rem;
  min-height: 100vh;
  padding: 2rem 2rem 2rem 11rem;
}
.day-4-grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.day-4-title {
  grid-column: 1/6;
  grid-row: 1;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
  color: #9e222c;
}

.day-4-img-1 {
  grid-column: 1;
  grid-row: 2/4;
}
.day-4-img-2 {
  grid-column: 2/4;
  grid-row: 2/4;
}
.day-4-img-3 {
  grid-column: 4/5;
  grid-row: 2/4;
}
.day-4-img-4 {
  grid-column: 5;
  grid-row: 2;
}
.day-4-img-5 {
  grid-column: 5;
  grid-row: 3;
}
.day-4-img-6 {
  grid-column: 1/3;
  grid-row: 4;
}

.day-4-map {
  grid-column: 3/5;
  grid-row: 4;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.day-4-text {
  grid-column: 5;
  grid-row: 4;
  color: #9e222c;
  display: flex;
  align-items: center;
}

/* Modal */
::backdrop {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  width: 80%;
  height: 80%;
  background-color: black;
  margin: auto;
}

#modal-img {
  height: 100%;
  margin: auto;
}

#modal-video {
  width: 100%;
  height: 100%;
}

.close {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}