@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Design system */
/* Colors */
/* Text */
.home h1 {
  font: 5rem "Cormorant Garamond";
}

.home h2 {
  font: 2rem "Cormorant Garamond";
  color: #303d50;
}

.islande-trip h1 {
  font: 5rem "Cormorant Garamond";
  font-size: 3rem;
}

p {
  font: 1rem "Inter";
  color: #303d50;
}

a div, span {
  font: 1rem "Inter";
}

.home {
  height: 100vh;
  background: linear-gradient(#0A2E50, #B0D7E0, #F7F7F7);
}

.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-title {
  width: 50%;
  text-align: center;
  padding: 2rem 0 0 2rem;
}
.home-title > p:first-of-type {
  letter-spacing: 10px;
  color: #B0D7E0;
}
.home-title h1 {
  color: #C9882B;
}
.home-title > p:nth-of-type(2) {
  color: #B0D7E0;
}

.map-wrapper {
  width: 100%;
  height: 100%;
  align-self: center;
  overflow: hidden;
  position: relative;
}

.map-image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.pin {
  position: absolute;
  top: 23.5%;
  left: 44.5%;
  z-index: 10;
  width: 2vw;
  height: 2vw;
  border: 0.15vw solid #C9882B;
  border-radius: 1vw;
  animation: flashing 1.5s infinite steps(1);
  transform: translate(-50%, -50%);
}

.pin-center {
  position: absolute;
  top: 23.5%;
  left: 44.5%;
  z-index: 11;
  width: 1.2vw;
  height: 1.2vw;
  border: 0.4vw solid #C9882B;
  border-radius: 0.6vw;
  transform: translate(-50%, -50%);
  text-decoration: none;
}
.pin-center > figure {
  display: none;
}

.pin-center:hover > figure {
  display: flex;
  flex-direction: column;
  width: 30rem;
}
.pin-center:hover > figure > img {
  width: 30rem;
  height: auto;
  border-radius: 10px 10px 0 0;
}
.pin-center:hover > figure > figcaption {
  background-color: #303d50;
  border-radius: 0 0 10px 10px;
  color: #F7F7F7;
  font: 1rem "Inter";
  padding: 5px;
  display: flex;
  align-items: center;
}
.pin-center:hover > figure > figcaption > .pin-icon {
  width: 2rem;
  height: auto;
  stroke: #F7F7F7;
  fill: #303d50;
}
.pin-center:hover > figure > figcaption > .calendar-icon {
  width: 1.3rem;
  height: auto;
  fill: #F7F7F7;
  stroke: #303d50;
  margin-left: 1rem;
  margin-right: 0.5rem;
}
.pin-center:hover > figure > figcaption > .clock-icon {
  width: 1.3rem;
  height: auto;
  stroke: #F7F7F7;
  fill: #303d50;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.home-subtitle {
  width: 30%;
  text-align: center;
  padding: 0 1rem 2rem 0;
  align-self: flex-end;
}

@keyframes flashing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes down {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes translateY {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}
.islande-trip {
  display: flex;
  width: 100vw;
  background-color: #F7F7F7;
}

.menu {
  margin-left: 35px;
  margin-top: 20px;
  position: fixed;
  z-index: 1;
  animation: translateY 0.9s 0.9s cubic-bezier(0.5, 0, 0.5, 1) both;
}

.line-verticale {
  width: 5px;
  height: 95vh;
  background-color: #0A2E50;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.nav-bar {
  position: absolute;
  left: -7.2px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nav-bar-item {
  display: flex;
  gap: 15px;
}

.cercle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #0A2E50;
  position: relative;
  z-index: 10;
}
.cercle-border {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid #0A2E50;
  position: absolute;
  top: -5px;
  left: -5px;
  opacity: 0;
}
.cercle-border:hover {
  opacity: 1;
}

.active {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid #0A2E50;
  position: absolute;
  top: -5px;
  left: -5px;
  opacity: 1;
}

span {
  color: #0A2E50;
  width: 100px;
}

.lien-conteneur-photo {
  position: relative;
}

.photo-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
  color: #F7F7F7;
  font-weight: 500;
  background-color: rgba(48, 61, 80, 0.8);
  border-radius: 10px;
  display: none;
}

.lien-conteneur-photo:hover .photo-hover {
  display: flex;
}

.img {
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: scale 0.5s 0.5s cubic-bezier(0.5, 0, 0.5, 1) both, appear 0.5s 0.5s linear both;
}

.video {
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid #B0D7E0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: scale 0.5s 0.5s cubic-bezier(0.5, 0, 0.5, 1) both, appear 0.5s 0.5s linear both;
}

/* Section 1er jour */
.day-1 {
  transform-origin: 50% 0%;
  animation: down 0.5s 0.2s cubic-bezier(0, 1, 0.8, 1) both;
}
.day-1-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 0.8fr 1.2fr;
  grid-template-rows: 50px 180px 100px 80px 30px 230px;
  gap: 1rem;
  min-height: 100vh;
  padding: 2rem 2rem 2rem 12rem;
}
.day-1-grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  border: 3px solid #B0D7E0;
}

.day-1-title {
  grid-column: 1/5;
  grid-row: 1;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  color: #C9882B;
  animation: translateY 0.5s 0.5s cubic-bezier(0.5, 0, 0.5, 1) both;
}

.day-1-img-1 {
  grid-column: 1;
  grid-row: 2;
}
.day-1-img-2 {
  grid-column: 2;
  grid-row: 2;
}
.day-1-img-3 {
  grid-column: 1;
  grid-row: 3/6;
}
.day-1-img-4 {
  grid-column: 2;
  grid-row: 3/6;
}
.day-1-img-5 {
  grid-column: 3;
  grid-row: 3/5;
}
.day-1-img-6 {
  grid-column: 4;
  grid-row: 3;
}
.day-1-img-7 {
  grid-column: 1/3;
  grid-row: 6;
}
.day-1-img-8 {
  grid-column: 4;
  grid-row: 4/6;
}

.day-1-map {
  border-radius: 10px;
  grid-column: 3;
  grid-row: 2;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: scale 0.5s 0.5s cubic-bezier(0.5, 0, 0.5, 1) both, appear 0.5s 0.5s linear both;
}

.day-1-text {
  grid-column: 4;
  grid-row: 2;
  animation: scale 0.5s 1s cubic-bezier(0.5, 0, 0.5, 1) both, appear 0.5s 0.5s linear both;
  overflow-y: scroll;
  padding-right: 5px;
}

.day-1-text::-webkit-scrollbar {
  width: 5px; /* Largeur de la barre verticale */
}

.day-1-text::-webkit-scrollbar-thumb {
  background-color: #303d50; /* Couleur du "pouce" (la partie que l'on manipule) */
  border-radius: 5px;
}

.day-1-text::-webkit-scrollbar-track {
  background-color: #B0D7E0; /* Couleur de la piste */
  border-radius: 5px;
}

.day-1-video-1 {
  grid-column: 3;
  grid-row: 5/7;
  background-color: black;
  display: flex;
  justify-content: center;
}
.day-1-video-2 {
  grid-column: 4;
  grid-row: 6;
  background-color: black;
  display: flex;
}

/* Section 2ème jour */
.day-2-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 180px 150px 150px 150px;
  gap: 1rem;
  min-height: 100vh;
  padding: 2rem 2rem 2rem 12rem;
}
.day-2-grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  border: 3px solid #B0D7E0;
}

.day-2-title {
  grid-column: 1/5;
  grid-row: 1;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  color: #C9882B;
}

.day-2-img-1 {
  grid-column: 1/5;
  grid-row: 2;
}
.day-2-img-2 {
  grid-column: 1;
  grid-row: 3;
}
.day-2-img-3 {
  grid-column: 5;
  grid-row: 3/5;
}
.day-2-img-4 {
  grid-column: 2;
  grid-row: 4/5;
}
.day-2-img-5 {
  grid-column: 3/5;
  grid-row: 4;
}
.day-2-img-6 {
  grid-column: 2/4;
  grid-row: 5;
}
.day-2-img-7 {
  grid-column: 4/6;
  grid-row: 5;
}

.day-2-map {
  grid-column: 5;
  grid-row: 2;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.day-2-text {
  grid-column: 2/5;
  grid-row: 3;
  display: flex;
  align-items: center;
}

.day-2-video-1 {
  grid-column: 1;
  grid-row: 4/6;
  background-color: black;
  display: flex;
  justify-content: center;
}

/* Section 3ème jour */
.day-3-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 180px 290px 180px;
  gap: 1rem;
  min-height: 100vh;
  padding: 2rem 2rem 2rem 12rem;
}
.day-3-grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  border: 3px solid #B0D7E0;
}

.day-3-title {
  grid-column: 1/5;
  grid-row: 1;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
  color: #C9882B;
}

.day-3-img-1 {
  grid-column: 1/3;
  grid-row: 2;
}
.day-3-img-2 {
  grid-column: 3/5;
  grid-row: 2;
}
.day-3-img-3 {
  grid-column: 1;
  grid-row: 3;
}
.day-3-img-4 {
  grid-column: 2;
  grid-row: 3;
}
.day-3-img-5 {
  grid-column: 3;
  grid-row: 3;
}
.day-3-img-6 {
  grid-column: 1/3;
  grid-row: 4;
}
.day-3-img-7 {
  grid-column: 3/4;
  grid-row: 4;
}

.day-3-map {
  grid-column: 4;
  grid-row: 4;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.day-3-text {
  grid-column: 4;
  grid-row: 3;
  display: flex;
  align-items: center;
}

/* Section 4ème jour */
.day-4-grid {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr 2fr;
  grid-template-rows: 50px 210px 210px 230px;
  gap: 1rem;
  min-height: 100vh;
  padding: 2rem 2rem 2rem 12rem;
}
.day-4-grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  border: 3px solid #B0D7E0;
}

.day-4-title {
  grid-column: 1/6;
  grid-row: 1;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
  color: #C9882B;
}

.day-4-img-1 {
  grid-column: 1;
  grid-row: 2/4;
}
.day-4-img-2 {
  grid-column: 2/4;
  grid-row: 2/4;
}
.day-4-img-3 {
  grid-column: 4/5;
  grid-row: 2/4;
}
.day-4-img-4 {
  grid-column: 5;
  grid-row: 2;
}
.day-4-img-5 {
  grid-column: 5;
  grid-row: 3;
}
.day-4-img-6 {
  grid-column: 1/3;
  grid-row: 4;
}

.day-4-map {
  grid-column: 3/5;
  grid-row: 4;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.day-4-text {
  grid-column: 5;
  grid-row: 4;
  display: flex;
  align-items: center;
}

/* Modal */
::backdrop {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  width: 80%;
  height: 80%;
  background-color: black;
  margin: auto;
}

#modal-img {
  height: 100%;
  margin: auto;
}

#modal-video {
  width: 100%;
  height: 100%;
}

.close {
  position: absolute;
  z-index: 1;
  top: 0px;
  right: -60px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  color: #F7F7F7;
}